.App {
  text-align: center;
}

.checkBoxes,
.fetchGithub {
  height: 200px;
}

p,
label {
  font-weight: bold;
  color: blue;
}

p {
  max-width: 400px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
input,
button {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

li {
  list-style: none;
  font-weight: bold;
  margin: 15px 0;
  color: blue;
}

h1 {
  color: rgb(243, 59, 35);
}
